node_modules
node_modules/
dist
dist/
.next
.next/
out
out/
.vercel
*.tsbuildinfo
temp
temp/
Dockerfile*
docker-compose*
.env*
.git
.gitignore
test
test/
tests
tests/
coverage
coverage/
README.md
*.log
npm-debug.log
yarn-error.log
.vscode
.idea
.husky
